* {
    margin: 0;
    padding: 0;
 }

 body{
     /* background-color: rgb(238, 238, 238); */
     background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
     font-family: sans-serif;
 }

.links{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.links .info-link{
    margin-left: 20px;
    float: left
}

.links .info-link ul{
    display: flex;
}

.links .info-link ul li{
    list-style-type: none;
    margin: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.links .account{
    margin-right: 50px;
    float: right;
}

.links .account ul{
    display: flex;
}

.links .account ul li{
    background-color: white;
    list-style-type: none;
    margin: 7px 6px;
    font-size: 14px;
    padding: 3px 8px;
}

.links .fav-cart{
    display: none;
}

.fa-caret-down{
    margin-left: 10px;
}

.top{
    background-color: white;
    height: 80px;
    width: 100%;
}

.top .title{
    float: left;
    margin-left: 20px;
    /* margin-right: 100px; */
    display: flex;
    padding: 10px 0;
    font-size: 38px;
}

.top .title p{
    background-color: rgb(59, 63, 61);
    color: rgb(250, 198, 55);
    font-family: Arial;
    padding: 0px 8px;
    font-weight: bold;
}
.top .title span{
    background-color: rgb(250, 198, 55) !important;
    color: rgb(59, 63, 61) !important;
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 16px;
}

.search{
    width: 270px;
    height: 35px;
    padding: 0 10px;
    font-size: 17px;
    margin-left: 30px;
}

.search-input{
    border: 1px solid black;
    border-left: none;
    margin-bottom: 10px;
    padding: 6.5px;
    font-weight: bold;
    color:rgb(250, 198, 55);
    cursor: pointer;
}

.seacrh-box{
    border: 1px solid black;
    border-collapse: collapse;
    display: inline-flex;
    float: left;
}

.new-top{
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
}

.contact{ 
    float: right;
    margin-right: 30px;
}

.contact h3{
    margin-top: -15px;
    font-size: 22px;
}

.contact p{
    margin-left: 63px;
    font-size: 16px;
}

.top-categories{
    background-color: rgb(59, 63, 61);
    height: 60px;
}

.top-categories .categories{
    float: left;
    margin-left: -250px;
    display: flex;
    background-color:rgb(250, 198, 55);
    width: 25%;
    
}

.top-categories p{
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.top-categories .fa-bars{
    margin-right: 8px;
    margin-left: 13px;
}

.top-categories .categories p .fa-angle-down{
    margin-left: 80px;
}

.top-categories .menu ul{
    display: inline-flex;
    margin-left: 50px;
}

.top-categories ul li{
    list-style-type: none;
    padding: 20px 10px 22px 10px;
    color: white;
    cursor: pointer;
}

.top-categories ul li:hover{
    color:rgb(250, 198, 55);
}

/* .menu{
    float: left;
} */

.top-menu .fav-cart{
    display:inline-flex;
    float: right;
    margin-right: 20px;
}

.top-menu .fav-cart i{
    color:rgb(250, 198, 55);
    padding-top: 20px;
    padding-left: 10px;
    
}

.top-menu .fav-cart p{
    color: white;
    margin-left: -8px;
}

.top-menu{
    display: flex;
    justify-content: space-between;
}

.top .side-bar{
    display: none;
}

.drop-down{
    display: none;
}

.carousel-item h5{
    font-size: 55px;
    margin-top: -40%;
    font-family: "Roboto", sans-serif;
}

.carousel-item p{
    font-family: "Roboto", sans-serif;
}

.carousel-item span{
    border: 1px solid white;
    padding: 10px 30px;
    transition: 0.2s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.carousel-item span:hover{
    background-color: white;
    color: black;
}

.carousel-item img{
    width: 100%;
    height: 27rem;
}

.slider{
    width: 65%;
    /* float: left; */
}

.slide-picture{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 30px 5px 15px;
    /* height: 100%; */
}

.side-slide{
    width: 31%;
    display: block;
    /* z-index: -1; */
}

.carousel-feature img{
    height: 12.5rem !important;
    transition: 0.2s;
    cursor: pointer;
}

.carousel-feature img:hover{
    transform: scale(1.1);

}

.carousel-feature{
    padding-bottom: 32px;
}

.carousel-feature h5{
    font-size: 17px;
}

.carousel-feature h3{
    font-weight: bold;
}

.carousel-feature span{
    border: 1px solid rgb(250, 198, 55);
    padding: 10px;
    background-color: rgb(250, 198, 55);
    color: black;
    cursor: pointer;
}

.word{
    margin: 20px;
}

.indicators{
    /* border: 1px solid white; */
    padding: 5px;
    /* margin-top: 50px; */
}

/* .standard{
    
} */

.content{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.content .statement{
    display: inline-flex;
    background-color: white;
    width: 22%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content i{
    font-size: 40px;
    color: rgb(250, 198, 55);
    margin-top: 15px;
    margin-left: 20px;
}

.content p{
    font-size: 20px;
    font-weight: 620;
    color: black;
    margin-left: 20px;
}

.category-product h2{
    color:rgb(59, 63, 61);
    font-weight: 650;
    font-size: 27px;
    margin-left: 30px;
    width: 100%;
}

.sub-categories{
    display: inline-flex;
    background-color: white;
    width: 20%;
    /* padding-left: 10px; */
    /* margin: 15px 15px; */
    /* justify-content: space-between; */
}


.sub-categories img{
    width: 100px;
}

.cat-info h4{
    font-size: 15px;
    margin-top: 15px;
}

.cat-info p{
    color:rgb(59, 63, 61);
    font-size: 13px;
    margin-top: 15px;
}

.cat-info{
    padding-left: 10px;
}

.sub-categories:hover{
    background-color: rgb(250, 198, 55);
}

.all-categories{
    width: 100%;
    /* justify-content: space-between; */
    /* margin: 30px; */
}

/* .sub-categories{
    margin: 15px;
    justify-content: space-between;
} */

@media only screen and (max-width: 965px){
    .links .info-link{
        display: none;
    }

    .links{
        align-items: center;
        justify-content: center;
    }
    
    .links .fav-cart{
        display: inline-flex;
        color:rgb(59, 63, 61);
    }

    .top{
        background-color:rgb(59, 63, 61);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .top .title{
        margin-left: 20px;
        margin-top: -5px;
    }
    .top .title p{
        font-size: 35px;
        background-color: white;
        color: rgb(59, 63, 61);
        padding-bottom: 50px;
    }
    .top .title span{
        font-size: 35px;
        background-color: rgb(250, 198, 55) !important;
        color: white !important;
        padding-bottom: 50px;
    }

    .top .contact{
        display: none;
    }
    
    .top .side-bar{
        display: block;
    }

    .top .side-bar i{
        color: white;
        font-size: 25px;
        border: 1px solid white;
        padding: 5px 12px;
        margin-right: 10px;
        cursor: pointer;
    }

    .search{
        margin-left: -50px;
        width: 70%;
    }

    .top-categories{
        display: none;
    }

    .top .title{
        padding: 20px 0;
    }

    .drop-down{
        display: none;
        background-color: rgb(59, 63, 61);
    }

    .show{
        display: block;
    }

    .drop-down ul{
        margin-left: 20px;
    }

    .drop-down ul li{
        list-style-type: none;
        color: white;
        margin-bottom: 15px;
        cursor: pointer;
        padding-bottom: 10px;
        width: 100%;
    }

    .drop-down ul li:hover{
        color:rgb(250, 198, 55);
    }

    .slider{
        width: 100%;
    }

    .slide-picture{
        display: block;
        padding: 25px 15px 5px 15px;
    }

    .side-slide{
        width: 100%;
        padding-top: 30px;
    }

    .content{
        /* display: inline-flex; */
        justify-content: center;
        width: 100%;
        /* padding: 20px; */
        margin: 10px;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .content .statement{
        background-color: white;
        width: 300px;
        padding: 10px 5px 5px 5px;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 670px){
    .top .search-box{
        display: none;
    }

    .content{
        justify-content: center;
        margin: 10px;
        display: block;
    }
    
    .content .statement{
        background-color: white;
        width: 100%;
        /* padding: 10px 5px 10px 5px; */
        /* margin-top: 20px; */
    }

    
}
/* .top-categories .menu ul{
    display: inline-flex;
    margin-left: 50px;
}

.top-categories ul li{
    list-style-type: none;
    padding: 20px 10px 22px 10px;
    color: white;
    cursor: pointer;
}

.top-categories ul li:hover{
    color:rgb(250, 198, 55);
} */
